.md-typeset table:not([class]) th,
.md-typeset table:not([class]) td {
    padding: 0.8em 1.2em !important;
    white-space: nowrap;
}

.md-typeset table:not([class]) {
    border-spacing: 10px;
    border-collapse: separate;
}
